#title {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;

    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}



#stars {
    position: absolute;
    top: -1px;
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #ffffffda, 324px 42px #ffffffda, 303px 586px #ffffffda,
    1312px 276px #ffffffda, 451px 625px #ffffffda, 521px 1931px #ffffffda, 1087px 1871px #ffffffda,
    36px 1546px #ffffffda, 132px 934px #ffffffda, 1698px 901px #ffffffda, 1418px 664px #ffffffda,
    1448px 1157px #ffffffda, 1084px 232px #ffffffda, 347px 1776px #ffffffda, 1722px 243px #ffffffda,
    1629px 835px #ffffffda, 479px 969px #ffffffda, 1231px 960px #ffffffda, 586px 384px #ffffffda,
    164px 527px #ffffffda, 8px 646px #ffffffda, 1150px 1126px #ffffffda, 665px 1357px #ffffffda,
    1556px 1982px #ffffffda, 1260px 1961px #ffffffda, 1675px 1741px #ffffffda,
    1843px 1514px #ffffffda, 718px 1628px #ffffffda, 242px 1343px #ffffffda, 1497px 1880px #ffffffda,
    1364px 230px #ffffffda, 1739px 1302px #ffffffda, 636px 959px #ffffffda, 304px 686px #ffffffda,
    614px 751px #ffffffda, 1935px 816px #ffffffda, 1428px 60px #ffffffda, 355px 335px #ffffffda,
    1594px 158px #ffffffda, 90px 60px #ffffffda, 1553px 162px #ffffffda, 1239px 1825px #ffffffda,
    1945px 587px #ffffffda, 749px 1785px #ffffffda, 1987px 1172px #ffffffda, 1301px 1237px #ffffffda,
    1039px 342px #ffffffda, 1585px 1481px #ffffffda, 995px 1048px #ffffffda, 524px 932px #ffffffda,
    214px 413px #ffffffda, 1701px 1300px #ffffffda, 1037px 1613px #ffffffda, 1871px 996px #ffffffda,
    1360px 1635px #ffffffda, 1110px 1313px #ffffffda, 412px 1783px #ffffffda, 1949px 177px #ffffffda,
    903px 1854px #ffffffda, 700px 1936px #ffffffda, 378px 125px #ffffffda, 308px 834px #ffffffda,
    1118px 962px #ffffffda, 1350px 1929px #ffffffda, 781px 1811px #ffffffda, 561px 137px #ffffffda,
    757px 1148px #ffffffda, 1670px 1979px #ffffffda, 343px 739px #ffffffda, 945px 795px #ffffffda,
    576px 1903px #ffffffda, 1078px 1436px #ffffffda, 1583px 450px #ffffffda, 1366px 474px #ffffffda,
    297px 1873px #ffffffda, 192px 162px #ffffffda, 1624px 1633px #ffffffda, 59px 453px #ffffffda,
    82px 1872px #ffffffda, 1933px 498px #ffffffda, 1966px 1974px #ffffffda, 1975px 1688px #ffffffda,
    779px 314px #ffffffda, 1858px 1543px #ffffffda, 73px 1507px #ffffffda, 1693px 975px #ffffffda,
    1683px 108px #ffffffda, 1768px 1654px #ffffffda, 654px 14px #ffffffda, 494px 171px #ffffffda,
    1689px 1895px #ffffffda, 1660px 263px #ffffffda, 1031px 903px #ffffffda, 1203px 1393px #ffffffda,
    1333px 1421px #ffffffda, 1113px 41px #ffffffda, 1206px 1645px #ffffffda, 1325px 1635px #ffffffda,
    142px 388px #ffffffda, 572px 215px #ffffffda, 1535px 296px #ffffffda, 1419px 407px #ffffffda,
    1379px 1003px #ffffffda, 329px 469px #ffffffda, 1791px 1652px #ffffffda, 935px 1802px #ffffffda,
    1330px 1820px #ffffffda, 421px 1933px #ffffffda, 828px 365px #ffffffda, 275px 316px #ffffffda,
    707px 960px #ffffffda, 1605px 1554px #ffffffda, 625px 58px #ffffffda, 717px 1697px #ffffffda,
    1669px 246px #ffffffda, 1925px 322px #ffffffda, 1154px 1803px #ffffffda, 1929px 295px #ffffffda,
    1248px 240px #ffffffda, 1045px 1755px #ffffffda, 166px 942px #ffffffda, 1888px 1773px #ffffffda,
    678px 1963px #ffffffda, 1370px 569px #ffffffda, 1974px 1400px #ffffffda, 1786px 460px #ffffffda,
    51px 307px #ffffffda, 784px 1400px #ffffffda, 730px 1258px #ffffffda, 1712px 393px #ffffffda,
    416px 170px #ffffffda, 1797px 1932px #ffffffda, 572px 219px #ffffffda, 1557px 1856px #ffffffda,
    218px 8px #ffffffda, 348px 1334px #ffffffda, 469px 413px #ffffffda, 385px 1738px #ffffffda,
    1357px 1818px #ffffffda, 240px 942px #ffffffda, 248px 1847px #ffffffda, 1535px 806px #ffffffda,
    236px 1514px #ffffffda, 1429px 1556px #ffffffda, 73px 1633px #ffffffda, 1398px 1121px #ffffffda,
    671px 1301px #ffffffda, 1404px 1663px #ffffffda, 740px 1018px #ffffffda, 1600px 377px #ffffffda,
    785px 514px #ffffffda, 112px 1084px #ffffffda, 1915px 1887px #ffffffda, 1463px 1848px #ffffffda,
    687px 1115px #ffffffda, 1268px 1768px #ffffffda, 1729px 1425px #ffffffda,
    1284px 1022px #ffffffda, 801px 974px #ffffffda, 1975px 1317px #ffffffda, 1354px 834px #ffffffda,
    1446px 1484px #ffffffda, 1283px 1786px #ffffffda, 11px 523px #ffffffda, 1842px 236px #ffffffda,
    1355px 654px #ffffffda, 429px 7px #ffffffda, 1033px 1128px #ffffffda, 157px 297px #ffffffda,
    545px 635px #ffffffda, 52px 1080px #ffffffda, 827px 1520px #ffffffda, 1121px 490px #ffffffda,
    9px 309px #ffffffda, 1744px 1586px #ffffffda, 1014px 417px #ffffffda, 1534px 524px #ffffffda,
    958px 552px #ffffffda, 1403px 1496px #ffffffda, 387px 703px #ffffffda, 1522px 548px #ffffffda,
    1355px 282px #ffffffda, 1532px 601px #ffffffda, 1838px 790px #ffffffda, 290px 259px #ffffffda,
    295px 598px #ffffffda, 1601px 539px #ffffffda, 1561px 1272px #ffffffda, 34px 1922px #ffffffda,
    1024px 543px #ffffffda, 467px 369px #ffffffda, 722px 333px #ffffffda, 1976px 1255px #ffffffda,
    766px 983px #ffffffda, 1582px 1285px #ffffffda, 12px 512px #ffffffda, 617px 1410px #ffffffda,
    682px 577px #ffffffda, 1334px 1438px #ffffffda, 439px 327px #ffffffda, 1617px 1661px #ffffffda,
    673px 129px #ffffffda, 794px 941px #ffffffda, 1386px 1902px #ffffffda, 37px 1353px #ffffffda,
    1467px 1353px #ffffffda, 416px 18px #ffffffda, 187px 344px #ffffffda, 200px 1898px #ffffffda,
    1491px 1619px #ffffffda, 811px 347px #ffffffda, 924px 1827px #ffffffda, 945px 217px #ffffffda,
    1735px 1228px #ffffffda, 379px 1890px #ffffffda, 79px 761px #ffffffda, 825px 1837px #ffffffda,
    1980px 1558px #ffffffda, 1308px 1573px #ffffffda, 1488px 1726px #ffffffda,
    382px 1208px #ffffffda, 522px 595px #ffffffda, 1277px 1898px #ffffffda, 354px 552px #ffffffda,
    161px 1784px #ffffffda, 614px 251px #ffffffda, 526px 1576px #ffffffda, 17px 212px #ffffffda,
    179px 996px #ffffffda, 467px 1208px #ffffffda, 1944px 1838px #ffffffda, 1140px 1093px #ffffffda,
    858px 1007px #ffffffda, 200px 1064px #ffffffda, 423px 1964px #ffffffda, 1945px 439px #ffffffda,
    1377px 689px #ffffffda, 1120px 1437px #ffffffda, 1876px 668px #ffffffda, 907px 1324px #ffffffda,
    343px 1976px #ffffffda, 1816px 1501px #ffffffda, 1849px 177px #ffffffda, 647px 91px #ffffffda,
    1984px 1012px #ffffffda, 1336px 1300px #ffffffda, 128px 648px #ffffffda, 305px 1060px #ffffffda,
    1324px 826px #ffffffda, 1263px 1314px #ffffffda, 1801px 629px #ffffffda, 1614px 1555px #ffffffda,
    1634px 90px #ffffffda, 1603px 452px #ffffffda, 891px 1984px #ffffffda, 1556px 1906px #ffffffda,
    121px 68px #ffffffda, 1676px 1714px #ffffffda, 516px 936px #ffffffda, 1947px 1492px #ffffffda,
    1455px 1519px #ffffffda, 45px 602px #ffffffda, 205px 1039px #ffffffda, 793px 172px #ffffffda,
    1562px 1739px #ffffffda, 1056px 110px #ffffffda, 1512px 379px #ffffffda, 1795px 1621px #ffffffda,
    1848px 607px #ffffffda, 262px 1719px #ffffffda, 477px 991px #ffffffda, 483px 883px #ffffffda,
    1239px 1197px #ffffffda, 1496px 647px #ffffffda, 1649px 25px #ffffffda, 1491px 1946px #ffffffda,
    119px 996px #ffffffda, 179px 1472px #ffffffda, 1341px 808px #ffffffda, 1565px 1700px #ffffffda,
    407px 1544px #ffffffda, 1754px 357px #ffffffda, 1288px 981px #ffffffda, 902px 1997px #ffffffda,
    1755px 1668px #ffffffda, 186px 877px #ffffffda, 1202px 1882px #ffffffda, 461px 1213px #ffffffda,
    1400px 748px #ffffffda, 1969px 1899px #ffffffda, 809px 522px #ffffffda, 514px 1219px #ffffffda,
    374px 275px #ffffffda, 938px 1973px #ffffffda, 357px 552px #ffffffda, 144px 1722px #ffffffda,
    1572px 912px #ffffffda, 402px 1858px #ffffffda, 1544px 1195px #ffffffda, 667px 1257px #ffffffda,
    727px 1496px #ffffffda, 993px 232px #ffffffda, 1772px 313px #ffffffda, 1040px 1590px #ffffffda,
    1204px 1973px #ffffffda, 1268px 79px #ffffffda, 1555px 1048px #ffffffda, 986px 1707px #ffffffda,
    978px 1710px #ffffffda, 713px 360px #ffffffda, 407px 863px #ffffffda, 461px 736px #ffffffda,
    284px 1608px #ffffffda, 103px 430px #ffffffda, 1283px 1319px #ffffffda, 977px 1186px #ffffffda,
    1966px 1516px #ffffffda, 1287px 1129px #ffffffda, 70px 1098px #ffffffda, 1189px 889px #ffffffda,
    1126px 1734px #ffffffda, 309px 1292px #ffffffda, 879px 764px #ffffffda, 65px 473px #ffffffda,
    1003px 1959px #ffffffda, 658px 791px #ffffffda, 402px 1576px #ffffffda, 35px 622px #ffffffda,
    529px 1589px #ffffffda, 164px 666px #ffffffda, 1876px 1290px #ffffffda, 1541px 526px #ffffffda,
    270px 1297px #ffffffda, 440px 865px #ffffffda, 1500px 802px #ffffffda, 182px 1754px #ffffffda,
    1264px 892px #ffffffda, 272px 1249px #ffffffda, 1289px 1535px #ffffffda, 190px 1646px #ffffffda,
    955px 242px #ffffffda, 1456px 1597px #ffffffda, 1727px 1983px #ffffffda, 635px 801px #ffffffda,
    226px 455px #ffffffda, 1396px 1710px #ffffffda, 849px 1863px #ffffffda, 237px 1264px #ffffffda,
    839px 140px #ffffffda, 1122px 735px #ffffffda, 1280px 15px #ffffffda, 1318px 242px #ffffffda,
    1819px 1148px #ffffffda, 333px 1392px #ffffffda, 1949px 553px #ffffffda, 1878px 1332px #ffffffda,
    467px 548px #ffffffda, 1812px 1082px #ffffffda, 1067px 193px #ffffffda, 243px 156px #ffffffda,
    483px 1616px #ffffffda, 1714px 933px #ffffffda, 759px 1800px #ffffffda, 1822px 995px #ffffffda,
    1877px 572px #ffffffda, 581px 1084px #ffffffda, 107px 732px #ffffffda, 642px 1837px #ffffffda,
    166px 1493px #ffffffda, 1555px 198px #ffffffda, 819px 307px #ffffffda, 947px 345px #ffffffda,
    827px 224px #ffffffda, 927px 1394px #ffffffda, 540px 467px #ffffffda, 1093px 405px #ffffffda,
    1140px 927px #ffffffda, 130px 529px #ffffffda, 33px 1980px #ffffffda, 1147px 1663px #ffffffda,
    1616px 1436px #ffffffda, 528px 710px #ffffffda, 798px 1100px #ffffffda, 505px 1480px #ffffffda,
    899px 641px #ffffffda, 1909px 1949px #ffffffda, 1311px 964px #ffffffda, 979px 1301px #ffffffda,
    1393px 969px #ffffffda, 1793px 1886px #ffffffda, 292px 357px #ffffffda, 1196px 1718px #ffffffda,
    1290px 1994px #ffffffda, 537px 1973px #ffffffda, 1181px 1674px #ffffffda,
    1740px 1566px #ffffffda, 1307px 265px #ffffffda, 922px 522px #ffffffda, 1892px 472px #ffffffda,
    384px 1746px #ffffffda, 392px 1098px #ffffffda, 647px 548px #ffffffda, 390px 1498px #ffffffda,
    1246px 138px #ffffffda, 730px 876px #ffffffda, 192px 1472px #ffffffda, 1790px 1789px #ffffffda,
    928px 311px #ffffffda, 1253px 1647px #ffffffda, 747px 1921px #ffffffda, 1561px 1025px #ffffffda,
    1533px 1292px #ffffffda, 1985px 195px #ffffffda, 728px 729px #ffffffda, 1712px 1936px #ffffffda,
    512px 1717px #ffffffda, 1528px 483px #ffffffda, 313px 1642px #ffffffda, 281px 1849px #ffffffda,
    1212px 799px #ffffffda, 435px 1191px #ffffffda, 1422px 611px #ffffffda, 1718px 1964px #ffffffda,
    411px 944px #ffffffda, 210px 636px #ffffffda, 1502px 1295px #ffffffda, 1434px 349px #ffffffda,
    769px 60px #ffffffda, 747px 1053px #ffffffda, 789px 504px #ffffffda, 1436px 1264px #ffffffda,
    1893px 1225px #ffffffda, 1394px 1788px #ffffffda, 1108px 1317px #ffffffda,
    1673px 1395px #ffffffda, 854px 1010px #ffffffda, 1705px 80px #ffffffda, 1858px 148px #ffffffda,
    1729px 344px #ffffffda, 1388px 664px #ffffffda, 895px 406px #ffffffda, 1479px 157px #ffffffda,
    1441px 1157px #ffffffda, 552px 1900px #ffffffda, 516px 364px #ffffffda, 1647px 189px #ffffffda,
    1427px 1071px #ffffffda, 785px 729px #ffffffda, 1080px 1710px #ffffffda, 504px 204px #ffffffda,
    1177px 1622px #ffffffda, 657px 34px #ffffffda, 1296px 1099px #ffffffda, 248px 180px #ffffffda,
    1212px 1568px #ffffffda, 667px 1562px #ffffffda, 695px 841px #ffffffda, 1608px 1247px #ffffffda,
    751px 882px #ffffffda, 87px 167px #ffffffda, 607px 1368px #ffffffda, 1363px 1203px #ffffffda,
    1836px 317px #ffffffda, 1668px 1703px #ffffffda, 830px 1154px #ffffffda, 1721px 1398px #ffffffda,
    1601px 1280px #ffffffda, 976px 874px #ffffffda, 1743px 254px #ffffffda, 1020px 1815px #ffffffda,
    1670px 1766px #ffffffda, 1890px 735px #ffffffda, 1379px 136px #ffffffda, 1864px 695px #ffffffda,
    206px 965px #ffffffda, 1404px 1932px #ffffffda, 1923px 1360px #ffffffda, 247px 682px #ffffffda,
    519px 1708px #ffffffda, 645px 750px #ffffffda, 1164px 1204px #ffffffda, 834px 323px #ffffffda,
    172px 1350px #ffffffda, 213px 972px #ffffffda, 1837px 190px #ffffffda, 285px 1806px #ffffffda,
    1047px 1299px #ffffffda, 1548px 825px #ffffffda, 1730px 324px #ffffffda, 1346px 1909px #ffffffda,
    772px 270px #ffffffda, 345px 1190px #ffffffda, 478px 1433px #ffffffda, 1479px 25px #ffffffda,
    1994px 1830px #ffffffda, 1744px 732px #ffffffda, 20px 1635px #ffffffda, 690px 1795px #ffffffda,
    1594px 569px #ffffffda, 579px 245px #ffffffda, 1398px 733px #ffffffda, 408px 1352px #ffffffda,
    1774px 120px #ffffffda, 1152px 1370px #ffffffda, 1698px 1810px #ffffffda, 710px 1450px #ffffffda,
    665px 286px #ffffffda, 493px 1720px #ffffffda, 786px 5px #ffffffda, 637px 1140px #ffffffda,
    764px 324px #ffffffda, 927px 310px #ffffffda, 938px 1424px #ffffffda, 1884px 744px #ffffffda,
    913px 462px #ffffffda, 1831px 1936px #ffffffda, 1527px 249px #ffffffda, 36px 1381px #ffffffda,
    1597px 581px #ffffffda, 1530px 355px #ffffffda, 949px 459px #ffffffda, 799px 828px #ffffffda,
    242px 1471px #ffffffda, 654px 797px #ffffffda, 796px 594px #ffffffda, 1365px 678px #ffffffda,
    752px 23px #ffffffda, 1630px 541px #ffffffda, 982px 72px #ffffffda, 1733px 1831px #ffffffda,
    21px 412px #ffffffda, 775px 998px #ffffffda, 335px 1945px #ffffffda, 264px 583px #ffffffda,
    158px 1311px #ffffffda, 528px 164px #ffffffda, 1978px 574px #ffffffda, 717px 1203px #ffffffda,
    734px 1591px #ffffffda, 1555px 820px #ffffffda, 16px 1943px #ffffffda, 1625px 1177px #ffffffda,
    1236px 690px #ffffffda, 1585px 1590px #ffffffda, 1737px 1728px #ffffffda, 721px 698px #ffffffda,
    1804px 1186px #ffffffda, 166px 980px #ffffffda, 1850px 230px #ffffffda, 330px 1712px #ffffffda,
    95px 797px #ffffffda, 1948px 1078px #ffffffda, 469px 939px #ffffffda, 1269px 1899px #ffffffda,
    955px 1220px #ffffffda, 1137px 1075px #ffffffda, 312px 1293px #ffffffda, 986px 1762px #ffffffda,
    1103px 1238px #ffffffda, 428px 1993px #ffffffda, 355px 570px #ffffffda, 977px 1836px #ffffffda,
    1395px 1092px #ffffffda, 276px 913px #ffffffda, 1743px 656px #ffffffda, 773px 502px #ffffffda,
    1686px 1322px #ffffffda, 1516px 1945px #ffffffda, 1334px 501px #ffffffda, 266px 156px #ffffffda,
    455px 655px #ffffffda, 798px 72px #ffffffda, 1059px 1259px #ffffffda, 1402px 1687px #ffffffda,
    236px 1329px #ffffffda, 1455px 786px #ffffffda, 146px 1228px #ffffffda, 1851px 823px #ffffffda,
    1062px 100px #ffffffda, 1220px 953px #ffffffda, 20px 1826px #ffffffda, 36px 1063px #ffffffda,
    1525px 338px #ffffffda, 790px 1521px #ffffffda, 741px 1099px #ffffffda, 288px 1489px #ffffffda,
    700px 1060px #ffffffda, 390px 1071px #ffffffda, 411px 1036px #ffffffda, 1853px 1072px #ffffffda,
    1446px 1085px #ffffffda, 1164px 874px #ffffffda, 924px 925px #ffffffda, 291px 271px #ffffffda,
    1257px 1964px #ffffffda, 1580px 1352px #ffffffda, 1507px 1216px #ffffffda, 211px 956px #ffffffda,
    985px 1195px #ffffffda, 975px 1640px #ffffffda, 518px 101px #ffffffda, 663px 1395px #ffffffda,
    914px 532px #ffffffda, 145px 1320px #ffffffda, 69px 1397px #ffffffda, 982px 523px #ffffffda,
    257px 725px #ffffffda, 1599px 831px #ffffffda, 1636px 1513px #ffffffda, 1250px 1158px #ffffffda,
    1132px 604px #ffffffda, 183px 102px #ffffffda, 1057px 318px #ffffffda, 1247px 1835px #ffffffda,
    1983px 1110px #ffffffda, 1077px 1455px #ffffffda, 921px 1770px #ffffffda, 806px 1350px #ffffffda,
    1938px 1992px #ffffffda, 855px 1260px #ffffffda, 902px 1345px #ffffffda, 658px 1908px #ffffffda,
    1845px 679px #ffffffda, 712px 1482px #ffffffda, 595px 950px #ffffffda, 1784px 1992px #ffffffda,
    1847px 1785px #ffffffda, 691px 1004px #ffffffda, 175px 1179px #ffffffda, 1666px 1911px #ffffffda,
    41px 61px #ffffffda, 971px 1080px #ffffffda, 1830px 1450px #ffffffda, 1351px 1518px #ffffffda,
    1257px 99px #ffffffda, 1395px 1498px #ffffffda, 1117px 252px #ffffffda, 1779px 597px #ffffffda,
    1346px 729px #ffffffda, 1108px 1144px #ffffffda, 402px 691px #ffffffda, 72px 496px #ffffffda,
    1673px 1604px #ffffffda, 1497px 974px #ffffffda, 1865px 1664px #ffffffda, 88px 806px #ffffffda,
    918px 77px #ffffffda, 244px 1118px #ffffffda, 256px 1820px #ffffffda, 1851px 1840px #ffffffda,
    605px 1851px #ffffffda, 634px 383px #ffffffda, 865px 37px #ffffffda, 943px 1024px #ffffffda,
    1951px 177px #ffffffda, 1097px 523px #ffffffda, 985px 1700px #ffffffda, 1243px 122px #ffffffda,
    768px 1070px #ffffffda, 468px 194px #ffffffda, 320px 1867px #ffffffda, 1850px 185px #ffffffda,
    380px 1616px #ffffffda, 468px 1294px #ffffffda, 1122px 1743px #ffffffda, 884px 299px #ffffffda,
    1300px 1917px #ffffffda, 1860px 396px #ffffffda, 1270px 990px #ffffffda, 529px 733px #ffffffda,
    1975px 1347px #ffffffda, 1885px 685px #ffffffda, 226px 506px #ffffffda, 651px 878px #ffffffda,
    1323px 680px #ffffffda, 1284px 680px #ffffffda, 238px 1967px #ffffffda, 911px 174px #ffffffda,
    1111px 521px #ffffffda, 1150px 85px #ffffffda, 794px 502px #ffffffda, 484px 1856px #ffffffda,
    1809px 368px #ffffffda, 112px 953px #ffffffda, 590px 1009px #ffffffda, 1655px 311px #ffffffda,
    100px 1026px #ffffffda, 1803px 352px #ffffffda, 865px 306px #ffffffda, 1077px 1019px #ffffffda,
    1335px 872px #ffffffda, 1647px 1298px #ffffffda, 1233px 1387px #ffffffda, 698px 1036px #ffffffda,
    659px 1860px #ffffffda, 388px 1412px #ffffffda, 1212px 458px #ffffffda, 755px 1468px #ffffffda,
    696px 1654px #ffffffda, 1144px 60px #ffffffda;
}

#stars:after {
    content: '';
    position: absolute;
    top: 99vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #ffffffda, 324px 42px #ffffffda, 303px 586px #ffffffda,
    1312px 276px #ffffffda, 451px 625px #ffffffda, 521px 1931px #ffffffda, 1087px 1871px #ffffffda,
    36px 1546px #ffffffda, 132px 934px #ffffffda, 1698px 901px #ffffffda, 1418px 664px #ffffffda,
    1448px 1157px #ffffffda, 1084px 232px #ffffffda, 347px 1776px #ffffffda, 1722px 243px #ffffffda,
    1629px 835px #ffffffda, 479px 969px #ffffffda, 1231px 960px #ffffffda, 586px 384px #ffffffda,
    164px 527px #ffffffda, 8px 646px #ffffffda, 1150px 1126px #ffffffda, 665px 1357px #ffffffda,
    1556px 1982px #ffffffda, 1260px 1961px #ffffffda, 1675px 1741px #ffffffda,
    1843px 1514px #ffffffda, 718px 1628px #ffffffda, 242px 1343px #ffffffda, 1497px 1880px #ffffffda,
    1364px 230px #ffffffda, 1739px 1302px #ffffffda, 636px 959px #ffffffda, 304px 686px #ffffffda,
    614px 751px #ffffffda, 1935px 816px #ffffffda, 1428px 60px #ffffffda, 355px 335px #ffffffda,
    1594px 158px #ffffffda, 90px 60px #ffffffda, 1553px 162px #ffffffda, 1239px 1825px #ffffffda,
    1945px 587px #ffffffda, 749px 1785px #ffffffda, 1987px 1172px #ffffffda, 1301px 1237px #ffffffda,
    1039px 342px #ffffffda, 1585px 1481px #ffffffda, 995px 1048px #ffffffda, 524px 932px #ffffffda,
    214px 413px #ffffffda, 1701px 1300px #ffffffda, 1037px 1613px #ffffffda, 1871px 996px #ffffffda,
    1360px 1635px #ffffffda, 1110px 1313px #ffffffda, 412px 1783px #ffffffda, 1949px 177px #ffffffda,
    903px 1854px #ffffffda, 700px 1936px #ffffffda, 378px 125px #ffffffda, 308px 834px #ffffffda,
    1118px 962px #ffffffda, 1350px 1929px #ffffffda, 781px 1811px #ffffffda, 561px 137px #ffffffda,
    757px 1148px #ffffffda, 1670px 1979px #ffffffda, 343px 739px #ffffffda, 945px 795px #ffffffda,
    576px 1903px #ffffffda, 1078px 1436px #ffffffda, 1583px 450px #ffffffda, 1366px 474px #ffffffda,
    297px 1873px #ffffffda, 192px 162px #ffffffda, 1624px 1633px #ffffffda, 59px 453px #ffffffda,
    82px 1872px #ffffffda, 1933px 498px #ffffffda, 1966px 1974px #ffffffda, 1975px 1688px #ffffffda,
    779px 314px #ffffffda, 1858px 1543px #ffffffda, 73px 1507px #ffffffda, 1693px 975px #ffffffda,
    1683px 108px #ffffffda, 1768px 1654px #ffffffda, 654px 14px #ffffffda, 494px 171px #ffffffda,
    1689px 1895px #ffffffda, 1660px 263px #ffffffda, 1031px 903px #ffffffda, 1203px 1393px #ffffffda,
    1333px 1421px #ffffffda, 1113px 41px #ffffffda, 1206px 1645px #ffffffda, 1325px 1635px #ffffffda,
    142px 388px #ffffffda, 572px 215px #ffffffda, 1535px 296px #ffffffda, 1419px 407px #ffffffda,
    1379px 1003px #ffffffda, 329px 469px #ffffffda, 1791px 1652px #ffffffda, 935px 1802px #ffffffda,
    1330px 1820px #ffffffda, 421px 1933px #ffffffda, 828px 365px #ffffffda, 275px 316px #ffffffda,
    707px 960px #ffffffda, 1605px 1554px #ffffffda, 625px 58px #ffffffda, 717px 1697px #ffffffda,
    1669px 246px #ffffffda, 1925px 322px #ffffffda, 1154px 1803px #ffffffda, 1929px 295px #ffffffda,
    1248px 240px #ffffffda, 1045px 1755px #ffffffda, 166px 942px #ffffffda, 1888px 1773px #ffffffda,
    678px 1963px #ffffffda, 1370px 569px #ffffffda, 1974px 1400px #ffffffda, 1786px 460px #ffffffda,
    51px 307px #ffffffda, 784px 1400px #ffffffda, 730px 1258px #ffffffda, 1712px 393px #ffffffda,
    416px 170px #ffffffda, 1797px 1932px #ffffffda, 572px 219px #ffffffda, 1557px 1856px #ffffffda,
    218px 8px #ffffffda, 348px 1334px #ffffffda, 469px 413px #ffffffda, 385px 1738px #ffffffda,
    1357px 1818px #ffffffda, 240px 942px #ffffffda, 248px 1847px #ffffffda, 1535px 806px #ffffffda,
    236px 1514px #ffffffda, 1429px 1556px #ffffffda, 73px 1633px #ffffffda, 1398px 1121px #ffffffda,
    671px 1301px #ffffffda, 1404px 1663px #ffffffda, 740px 1018px #ffffffda, 1600px 377px #ffffffda,
    785px 514px #ffffffda, 112px 1084px #ffffffda, 1915px 1887px #ffffffda, 1463px 1848px #ffffffda,
    687px 1115px #ffffffda, 1268px 1768px #ffffffda, 1729px 1425px #ffffffda,
    1284px 1022px #ffffffda, 801px 974px #ffffffda, 1975px 1317px #ffffffda, 1354px 834px #ffffffda,
    1446px 1484px #ffffffda, 1283px 1786px #ffffffda, 11px 523px #ffffffda, 1842px 236px #ffffffda,
    1355px 654px #ffffffda, 429px 7px #ffffffda, 1033px 1128px #ffffffda, 157px 297px #ffffffda,
    545px 635px #ffffffda, 52px 1080px #ffffffda, 827px 1520px #ffffffda, 1121px 490px #ffffffda,
    9px 309px #ffffffda, 1744px 1586px #ffffffda, 1014px 417px #ffffffda, 1534px 524px #ffffffda,
    958px 552px #ffffffda, 1403px 1496px #ffffffda, 387px 703px #ffffffda, 1522px 548px #ffffffda,
    1355px 282px #ffffffda, 1532px 601px #ffffffda, 1838px 790px #ffffffda, 290px 259px #ffffffda,
    295px 598px #ffffffda, 1601px 539px #ffffffda, 1561px 1272px #ffffffda, 34px 1922px #ffffffda,
    1024px 543px #ffffffda, 467px 369px #ffffffda, 722px 333px #ffffffda, 1976px 1255px #ffffffda,
    766px 983px #ffffffda, 1582px 1285px #ffffffda, 12px 512px #ffffffda, 617px 1410px #ffffffda,
    682px 577px #ffffffda, 1334px 1438px #ffffffda, 439px 327px #ffffffda, 1617px 1661px #ffffffda,
    673px 129px #ffffffda, 794px 941px #ffffffda, 1386px 1902px #ffffffda, 37px 1353px #ffffffda,
    1467px 1353px #ffffffda, 416px 18px #ffffffda, 187px 344px #ffffffda, 200px 1898px #ffffffda,
    1491px 1619px #ffffffda, 811px 347px #ffffffda, 924px 1827px #ffffffda, 945px 217px #ffffffda,
    1735px 1228px #ffffffda, 379px 1890px #ffffffda, 79px 761px #ffffffda, 825px 1837px #ffffffda,
    1980px 1558px #ffffffda, 1308px 1573px #ffffffda, 1488px 1726px #ffffffda,
    382px 1208px #ffffffda, 522px 595px #ffffffda, 1277px 1898px #ffffffda, 354px 552px #ffffffda,
    161px 1784px #ffffffda, 614px 251px #ffffffda, 526px 1576px #ffffffda, 17px 212px #ffffffda,
    179px 996px #ffffffda, 467px 1208px #ffffffda, 1944px 1838px #ffffffda, 1140px 1093px #ffffffda,
    858px 1007px #ffffffda, 200px 1064px #ffffffda, 423px 1964px #ffffffda, 1945px 439px #ffffffda,
    1377px 689px #ffffffda, 1120px 1437px #ffffffda, 1876px 668px #ffffffda, 907px 1324px #ffffffda,
    343px 1976px #ffffffda, 1816px 1501px #ffffffda, 1849px 177px #ffffffda, 647px 91px #ffffffda,
    1984px 1012px #ffffffda, 1336px 1300px #ffffffda, 128px 648px #ffffffda, 305px 1060px #ffffffda,
    1324px 826px #ffffffda, 1263px 1314px #ffffffda, 1801px 629px #ffffffda, 1614px 1555px #ffffffda,
    1634px 90px #ffffffda, 1603px 452px #ffffffda, 891px 1984px #ffffffda, 1556px 1906px #ffffffda,
    121px 68px #ffffffda, 1676px 1714px #ffffffda, 516px 936px #ffffffda, 1947px 1492px #ffffffda,
    1455px 1519px #ffffffda, 45px 602px #ffffffda, 205px 1039px #ffffffda, 793px 172px #ffffffda,
    1562px 1739px #ffffffda, 1056px 110px #ffffffda, 1512px 379px #ffffffda, 1795px 1621px #ffffffda,
    1848px 607px #ffffffda, 262px 1719px #ffffffda, 477px 991px #ffffffda, 483px 883px #ffffffda,
    1239px 1197px #ffffffda, 1496px 647px #ffffffda, 1649px 25px #ffffffda, 1491px 1946px #ffffffda,
    119px 996px #ffffffda, 179px 1472px #ffffffda, 1341px 808px #ffffffda, 1565px 1700px #ffffffda,
    407px 1544px #ffffffda, 1754px 357px #ffffffda, 1288px 981px #ffffffda, 902px 1997px #ffffffda,
    1755px 1668px #ffffffda, 186px 877px #ffffffda, 1202px 1882px #ffffffda, 461px 1213px #ffffffda,
    1400px 748px #ffffffda, 1969px 1899px #ffffffda, 809px 522px #ffffffda, 514px 1219px #ffffffda,
    374px 275px #ffffffda, 938px 1973px #ffffffda, 357px 552px #ffffffda, 144px 1722px #ffffffda,
    1572px 912px #ffffffda, 402px 1858px #ffffffda, 1544px 1195px #ffffffda, 667px 1257px #ffffffda,
    727px 1496px #ffffffda, 993px 232px #ffffffda, 1772px 313px #ffffffda, 1040px 1590px #ffffffda,
    1204px 1973px #ffffffda, 1268px 79px #ffffffda, 1555px 1048px #ffffffda, 986px 1707px #ffffffda,
    978px 1710px #ffffffda, 713px 360px #ffffffda, 407px 863px #ffffffda, 461px 736px #ffffffda,
    284px 1608px #ffffffda, 103px 430px #ffffffda, 1283px 1319px #ffffffda, 977px 1186px #ffffffda,
    1966px 1516px #ffffffda, 1287px 1129px #ffffffda, 70px 1098px #ffffffda, 1189px 889px #ffffffda,
    1126px 1734px #ffffffda, 309px 1292px #ffffffda, 879px 764px #ffffffda, 65px 473px #ffffffda,
    1003px 1959px #ffffffda, 658px 791px #ffffffda, 402px 1576px #ffffffda, 35px 622px #ffffffda,
    529px 1589px #ffffffda, 164px 666px #ffffffda, 1876px 1290px #ffffffda, 1541px 526px #ffffffda,
    270px 1297px #ffffffda, 440px 865px #ffffffda, 1500px 802px #ffffffda, 182px 1754px #ffffffda,
    1264px 892px #ffffffda, 272px 1249px #ffffffda, 1289px 1535px #ffffffda, 190px 1646px #ffffffda,
    955px 242px #ffffffda, 1456px 1597px #ffffffda, 1727px 1983px #ffffffda, 635px 801px #ffffffda,
    226px 455px #ffffffda, 1396px 1710px #ffffffda, 849px 1863px #ffffffda, 237px 1264px #ffffffda,
    839px 140px #ffffffda, 1122px 735px #ffffffda, 1280px 15px #ffffffda, 1318px 242px #ffffffda,
    1819px 1148px #ffffffda, 333px 1392px #ffffffda, 1949px 553px #ffffffda, 1878px 1332px #ffffffda,
    467px 548px #ffffffda, 1812px 1082px #ffffffda, 1067px 193px #ffffffda, 243px 156px #ffffffda,
    483px 1616px #ffffffda, 1714px 933px #ffffffda, 759px 1800px #ffffffda, 1822px 995px #ffffffda,
    1877px 572px #ffffffda, 581px 1084px #ffffffda, 107px 732px #ffffffda, 642px 1837px #ffffffda,
    166px 1493px #ffffffda, 1555px 198px #ffffffda, 819px 307px #ffffffda, 947px 345px #ffffffda,
    827px 224px #ffffffda, 927px 1394px #ffffffda, 540px 467px #ffffffda, 1093px 405px #ffffffda,
    1140px 927px #ffffffda, 130px 529px #ffffffda, 33px 1980px #ffffffda, 1147px 1663px #ffffffda,
    1616px 1436px #ffffffda, 528px 710px #ffffffda, 798px 1100px #ffffffda, 505px 1480px #ffffffda,
    899px 641px #ffffffda, 1909px 1949px #ffffffda, 1311px 964px #ffffffda, 979px 1301px #ffffffda,
    1393px 969px #ffffffda, 1793px 1886px #ffffffda, 292px 357px #ffffffda, 1196px 1718px #ffffffda,
    1290px 1994px #ffffffda, 537px 1973px #ffffffda, 1181px 1674px #ffffffda,
    1740px 1566px #ffffffda, 1307px 265px #ffffffda, 922px 522px #ffffffda, 1892px 472px #ffffffda,
    384px 1746px #ffffffda, 392px 1098px #ffffffda, 647px 548px #ffffffda, 390px 1498px #ffffffda,
    1246px 138px #ffffffda, 730px 876px #ffffffda, 192px 1472px #ffffffda, 1790px 1789px #ffffffda,
    928px 311px #ffffffda, 1253px 1647px #ffffffda, 747px 1921px #ffffffda, 1561px 1025px #ffffffda,
    1533px 1292px #ffffffda, 1985px 195px #ffffffda, 728px 729px #ffffffda, 1712px 1936px #ffffffda,
    512px 1717px #ffffffda, 1528px 483px #ffffffda, 313px 1642px #ffffffda, 281px 1849px #ffffffda,
    1212px 799px #ffffffda, 435px 1191px #ffffffda, 1422px 611px #ffffffda, 1718px 1964px #ffffffda,
    411px 944px #ffffffda, 210px 636px #ffffffda, 1502px 1295px #ffffffda, 1434px 349px #ffffffda,
    769px 60px #ffffffda, 747px 1053px #ffffffda, 789px 504px #ffffffda, 1436px 1264px #ffffffda,
    1893px 1225px #ffffffda, 1394px 1788px #ffffffda, 1108px 1317px #ffffffda,
    1673px 1395px #ffffffda, 854px 1010px #ffffffda, 1705px 80px #ffffffda, 1858px 148px #ffffffda,
    1729px 344px #ffffffda, 1388px 664px #ffffffda, 895px 406px #ffffffda, 1479px 157px #ffffffda,
    1441px 1157px #ffffffda, 552px 1900px #ffffffda, 516px 364px #ffffffda, 1647px 189px #ffffffda,
    1427px 1071px #ffffffda, 785px 729px #ffffffda, 1080px 1710px #ffffffda, 504px 204px #ffffffda,
    1177px 1622px #ffffffda, 657px 34px #ffffffda, 1296px 1099px #ffffffda, 248px 180px #ffffffda,
    1212px 1568px #ffffffda, 667px 1562px #ffffffda, 695px 841px #ffffffda, 1608px 1247px #ffffffda,
    751px 882px #ffffffda, 87px 167px #ffffffda, 607px 1368px #ffffffda, 1363px 1203px #ffffffda,
    1836px 317px #ffffffda, 1668px 1703px #ffffffda, 830px 1154px #ffffffda, 1721px 1398px #ffffffda,
    1601px 1280px #ffffffda, 976px 874px #ffffffda, 1743px 254px #ffffffda, 1020px 1815px #ffffffda,
    1670px 1766px #ffffffda, 1890px 735px #ffffffda, 1379px 136px #ffffffda, 1864px 695px #ffffffda,
    206px 965px #ffffffda, 1404px 1932px #ffffffda, 1923px 1360px #ffffffda, 247px 682px #ffffffda,
    519px 1708px #ffffffda, 645px 750px #ffffffda, 1164px 1204px #ffffffda, 834px 323px #ffffffda,
    172px 1350px #ffffffda, 213px 972px #ffffffda, 1837px 190px #ffffffda, 285px 1806px #ffffffda,
    1047px 1299px #ffffffda, 1548px 825px #ffffffda, 1730px 324px #ffffffda, 1346px 1909px #ffffffda,
    772px 270px #ffffffda, 345px 1190px #ffffffda, 478px 1433px #ffffffda, 1479px 25px #ffffffda,
    1994px 1830px #ffffffda, 1744px 732px #ffffffda, 20px 1635px #ffffffda, 690px 1795px #ffffffda,
    1594px 569px #ffffffda, 579px 245px #ffffffda, 1398px 733px #ffffffda, 408px 1352px #ffffffda,
    1774px 120px #ffffffda, 1152px 1370px #ffffffda, 1698px 1810px #ffffffda, 710px 1450px #ffffffda,
    665px 286px #ffffffda, 493px 1720px #ffffffda, 786px 5px #ffffffda, 637px 1140px #ffffffda,
    764px 324px #ffffffda, 927px 310px #ffffffda, 938px 1424px #ffffffda, 1884px 744px #ffffffda,
    913px 462px #ffffffda, 1831px 1936px #ffffffda, 1527px 249px #ffffffda, 36px 1381px #ffffffda,
    1597px 581px #ffffffda, 1530px 355px #ffffffda, 949px 459px #ffffffda, 799px 828px #ffffffda,
    242px 1471px #ffffffda, 654px 797px #ffffffda, 796px 594px #ffffffda, 1365px 678px #ffffffda,
    752px 23px #ffffffda, 1630px 541px #ffffffda, 982px 72px #ffffffda, 1733px 1831px #ffffffda,
    21px 412px #ffffffda, 775px 998px #ffffffda, 335px 1945px #ffffffda, 264px 583px #ffffffda,
    158px 1311px #ffffffda, 528px 164px #ffffffda, 1978px 574px #ffffffda, 717px 1203px #ffffffda,
    734px 1591px #ffffffda, 1555px 820px #ffffffda, 16px 1943px #ffffffda, 1625px 1177px #ffffffda,
    1236px 690px #ffffffda, 1585px 1590px #ffffffda, 1737px 1728px #ffffffda, 721px 698px #ffffffda,
    1804px 1186px #ffffffda, 166px 980px #ffffffda, 1850px 230px #ffffffda, 330px 1712px #ffffffda,
    95px 797px #ffffffda, 1948px 1078px #ffffffda, 469px 939px #ffffffda, 1269px 1899px #ffffffda,
    955px 1220px #ffffffda, 1137px 1075px #ffffffda, 312px 1293px #ffffffda, 986px 1762px #ffffffda,
    1103px 1238px #ffffffda, 428px 1993px #ffffffda, 355px 570px #ffffffda, 977px 1836px #ffffffda,
    1395px 1092px #ffffffda, 276px 913px #ffffffda, 1743px 656px #ffffffda, 773px 502px #ffffffda,
    1686px 1322px #ffffffda, 1516px 1945px #ffffffda, 1334px 501px #ffffffda, 266px 156px #ffffffda,
    455px 655px #ffffffda, 798px 72px #ffffffda, 1059px 1259px #ffffffda, 1402px 1687px #ffffffda,
    236px 1329px #ffffffda, 1455px 786px #ffffffda, 146px 1228px #ffffffda, 1851px 823px #ffffffda,
    1062px 100px #ffffffda, 1220px 953px #ffffffda, 20px 1826px #ffffffda, 36px 1063px #ffffffda,
    1525px 338px #ffffffda, 790px 1521px #ffffffda, 741px 1099px #ffffffda, 288px 1489px #ffffffda,
    700px 1060px #ffffffda, 390px 1071px #ffffffda, 411px 1036px #ffffffda, 1853px 1072px #ffffffda,
    1446px 1085px #ffffffda, 1164px 874px #ffffffda, 924px 925px #ffffffda, 291px 271px #ffffffda,
    1257px 1964px #ffffffda, 1580px 1352px #ffffffda, 1507px 1216px #ffffffda, 211px 956px #ffffffda,
    985px 1195px #ffffffda, 975px 1640px #ffffffda, 518px 101px #ffffffda, 663px 1395px #ffffffda,
    914px 532px #ffffffda, 145px 1320px #ffffffda, 69px 1397px #ffffffda, 982px 523px #ffffffda,
    257px 725px #ffffffda, 1599px 831px #ffffffda, 1636px 1513px #ffffffda, 1250px 1158px #ffffffda,
    1132px 604px #ffffffda, 183px 102px #ffffffda, 1057px 318px #ffffffda, 1247px 1835px #ffffffda,
    1983px 1110px #ffffffda, 1077px 1455px #ffffffda, 921px 1770px #ffffffda, 806px 1350px #ffffffda,
    1938px 1992px #ffffffda, 855px 1260px #ffffffda, 902px 1345px #ffffffda, 658px 1908px #ffffffda,
    1845px 679px #ffffffda, 712px 1482px #ffffffda, 595px 950px #ffffffda, 1784px 1992px #ffffffda,
    1847px 1785px #ffffffda, 691px 1004px #ffffffda, 175px 1179px #ffffffda, 1666px 1911px #ffffffda,
    41px 61px #ffffffda, 971px 1080px #ffffffda, 1830px 1450px #ffffffda, 1351px 1518px #ffffffda,
    1257px 99px #ffffffda, 1395px 1498px #ffffffda, 1117px 252px #ffffffda, 1779px 597px #ffffffda,
    1346px 729px #ffffffda, 1108px 1144px #ffffffda, 402px 691px #ffffffda, 72px 496px #ffffffda,
    1673px 1604px #ffffffda, 1497px 974px #ffffffda, 1865px 1664px #ffffffda, 88px 806px #ffffffda,
    918px 77px #ffffffda, 244px 1118px #ffffffda, 256px 1820px #ffffffda, 1851px 1840px #ffffffda,
    605px 1851px #ffffffda, 634px 383px #ffffffda, 865px 37px #ffffffda, 943px 1024px #ffffffda,
    1951px 177px #ffffffda, 1097px 523px #ffffffda, 985px 1700px #ffffffda, 1243px 122px #ffffffda,
    768px 1070px #ffffffda, 468px 194px #ffffffda, 320px 1867px #ffffffda, 1850px 185px #ffffffda,
    380px 1616px #ffffffda, 468px 1294px #ffffffda, 1122px 1743px #ffffffda, 884px 299px #ffffffda,
    1300px 1917px #ffffffda, 1860px 396px #ffffffda, 1270px 990px #ffffffda, 529px 733px #ffffffda,
    1975px 1347px #ffffffda, 1885px 685px #ffffffda, 226px 506px #ffffffda, 651px 878px #ffffffda,
    1323px 680px #ffffffda, 1284px 680px #ffffffda, 238px 1967px #ffffffda, 911px 174px #ffffffda,
    1111px 521px #ffffffda, 1150px 85px #ffffffda, 794px 502px #ffffffda, 484px 1856px #ffffffda,
    1809px 368px #ffffffda, 112px 953px #ffffffda, 590px 1009px #ffffffda, 1655px 311px #ffffffda,
    100px 1026px #ffffffda, 1803px 352px #ffffffda, 865px 306px #ffffffda, 1077px 1019px #ffffffda,
    1335px 872px #ffffffda, 1647px 1298px #ffffffda, 1233px 1387px #ffffffda, 698px 1036px #ffffffda,
    659px 1860px #ffffffda, 388px 1412px #ffffffda, 1212px 458px #ffffffda, 755px 1468px #ffffffda,
    696px 1654px #ffffffda, 1144px 60px #ffffffda;
}

#stars2 {
    position: absolute;
    top: -2px;
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #ffffffda, 1775px 1663px #ffffffda, 332px 1364px #ffffffda,
    878px 340px #ffffffda, 569px 1832px #ffffffda, 1422px 1684px #ffffffda, 1946px 1907px #ffffffda,
    121px 979px #ffffffda, 1044px 1069px #ffffffda, 463px 381px #ffffffda, 423px 112px #ffffffda,
    523px 1179px #ffffffda, 779px 654px #ffffffda, 1398px 694px #ffffffda, 1085px 1464px #ffffffda,
    1599px 1869px #ffffffda, 801px 1882px #ffffffda, 779px 1231px #ffffffda, 552px 932px #ffffffda,
    1057px 1196px #ffffffda, 282px 1280px #ffffffda, 496px 1986px #ffffffda, 1833px 1120px #ffffffda,
    1802px 1293px #ffffffda, 6px 1696px #ffffffda, 412px 1902px #ffffffda, 605px 438px #ffffffda,
    24px 1212px #ffffffda, 234px 1320px #ffffffda, 544px 344px #ffffffda, 1107px 170px #ffffffda,
    1603px 196px #ffffffda, 905px 648px #ffffffda, 68px 1458px #ffffffda, 649px 1969px #ffffffda,
    744px 675px #ffffffda, 1127px 478px #ffffffda, 714px 1814px #ffffffda, 1486px 526px #ffffffda,
    270px 1636px #ffffffda, 1931px 149px #ffffffda, 1807px 378px #ffffffda, 8px 390px #ffffffda,
    1415px 699px #ffffffda, 1473px 1211px #ffffffda, 1590px 141px #ffffffda, 270px 1705px #ffffffda,
    69px 1423px #ffffffda, 1108px 1053px #ffffffda, 1946px 128px #ffffffda, 371px 371px #ffffffda,
    1490px 220px #ffffffda, 357px 1885px #ffffffda, 363px 363px #ffffffda, 1896px 1256px #ffffffda,
    1979px 1050px #ffffffda, 947px 1342px #ffffffda, 1754px 242px #ffffffda, 514px 974px #ffffffda,
    65px 1477px #ffffffda, 1840px 547px #ffffffda, 950px 695px #ffffffda, 459px 1150px #ffffffda,
    1124px 1502px #ffffffda, 481px 940px #ffffffda, 680px 839px #ffffffda, 797px 1169px #ffffffda,
    1977px 1491px #ffffffda, 734px 1724px #ffffffda, 210px 298px #ffffffda, 816px 628px #ffffffda,
    686px 770px #ffffffda, 1721px 267px #ffffffda, 1663px 511px #ffffffda, 1481px 1141px #ffffffda,
    582px 248px #ffffffda, 1308px 953px #ffffffda, 628px 657px #ffffffda, 897px 1535px #ffffffda,
    270px 931px #ffffffda, 791px 467px #ffffffda, 1336px 1732px #ffffffda, 1013px 1653px #ffffffda,
    1911px 956px #ffffffda, 587px 816px #ffffffda, 83px 456px #ffffffda, 930px 1478px #ffffffda,
    1587px 1694px #ffffffda, 614px 1200px #ffffffda, 302px 1782px #ffffffda, 1711px 1432px #ffffffda,
    443px 904px #ffffffda, 1666px 714px #ffffffda, 1588px 1167px #ffffffda, 273px 1075px #ffffffda,
    1679px 461px #ffffffda, 721px 664px #ffffffda, 1202px 10px #ffffffda, 166px 1126px #ffffffda,
    331px 1628px #ffffffda, 430px 1565px #ffffffda, 1585px 509px #ffffffda, 640px 38px #ffffffda,
    822px 837px #ffffffda, 1760px 1664px #ffffffda, 1122px 1458px #ffffffda, 398px 131px #ffffffda,
    689px 285px #ffffffda, 460px 652px #ffffffda, 1627px 365px #ffffffda, 348px 1648px #ffffffda,
    819px 1946px #ffffffda, 981px 1917px #ffffffda, 323px 76px #ffffffda, 979px 684px #ffffffda,
    887px 536px #ffffffda, 1348px 1596px #ffffffda, 1055px 666px #ffffffda, 1402px 1797px #ffffffda,
    1300px 1055px #ffffffda, 937px 238px #ffffffda, 1474px 1815px #ffffffda, 1144px 1710px #ffffffda,
    1629px 1087px #ffffffda, 911px 919px #ffffffda, 771px 819px #ffffffda, 403px 720px #ffffffda,
    163px 736px #ffffffda, 1062px 238px #ffffffda, 1774px 818px #ffffffda, 1874px 1178px #ffffffda,
    1177px 699px #ffffffda, 1244px 1244px #ffffffda, 1371px 58px #ffffffda, 564px 1515px #ffffffda,
    1824px 487px #ffffffda, 929px 702px #ffffffda, 394px 1348px #ffffffda, 1161px 641px #ffffffda,
    219px 1841px #ffffffda, 358px 941px #ffffffda, 140px 1759px #ffffffda, 1019px 1345px #ffffffda,
    274px 436px #ffffffda, 1433px 1605px #ffffffda, 1798px 1426px #ffffffda, 294px 1848px #ffffffda,
    1681px 1877px #ffffffda, 1344px 1824px #ffffffda, 1439px 1632px #ffffffda,
    161px 1012px #ffffffda, 1308px 588px #ffffffda, 1789px 582px #ffffffda, 721px 1910px #ffffffda,
    318px 218px #ffffffda, 607px 319px #ffffffda, 495px 535px #ffffffda, 1552px 1575px #ffffffda,
    1562px 67px #ffffffda, 403px 926px #ffffffda, 1096px 1800px #ffffffda, 1814px 1709px #ffffffda,
    1882px 1831px #ffffffda, 533px 46px #ffffffda, 823px 969px #ffffffda, 530px 165px #ffffffda,
    1030px 352px #ffffffda, 1681px 313px #ffffffda, 338px 115px #ffffffda, 1607px 211px #ffffffda,
    1718px 1184px #ffffffda, 1589px 659px #ffffffda, 278px 355px #ffffffda, 464px 1464px #ffffffda,
    1165px 277px #ffffffda, 950px 694px #ffffffda, 1746px 293px #ffffffda, 793px 911px #ffffffda,
    528px 773px #ffffffda, 1883px 1694px #ffffffda, 748px 182px #ffffffda, 1924px 1531px #ffffffda,
    100px 636px #ffffffda, 1473px 1445px #ffffffda, 1264px 1244px #ffffffda, 850px 1377px #ffffffda,
    987px 1976px #ffffffda, 933px 1761px #ffffffda, 922px 1270px #ffffffda, 500px 396px #ffffffda,
    1324px 8px #ffffffda, 1967px 1814px #ffffffda, 1072px 1401px #ffffffda, 961px 37px #ffffffda,
    156px 81px #ffffffda, 1915px 502px #ffffffda, 1076px 1846px #ffffffda, 152px 1669px #ffffffda,
    986px 1529px #ffffffda, 1667px 1137px #ffffffda;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 99vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #ffffffda, 1775px 1663px #ffffffda, 332px 1364px #ffffffda,
    878px 340px #ffffffda, 569px 1832px #ffffffda, 1422px 1684px #ffffffda, 1946px 1907px #ffffffda,
    121px 979px #ffffffda, 1044px 1069px #ffffffda, 463px 381px #ffffffda, 423px 112px #ffffffda,
    523px 1179px #ffffffda, 779px 654px #ffffffda, 1398px 694px #ffffffda, 1085px 1464px #ffffffda,
    1599px 1869px #ffffffda, 801px 1882px #ffffffda, 779px 1231px #ffffffda, 552px 932px #ffffffda,
    1057px 1196px #ffffffda, 282px 1280px #ffffffda, 496px 1986px #ffffffda, 1833px 1120px #ffffffda,
    1802px 1293px #ffffffda, 6px 1696px #ffffffda, 412px 1902px #ffffffda, 605px 438px #ffffffda,
    24px 1212px #ffffffda, 234px 1320px #ffffffda, 544px 344px #ffffffda, 1107px 170px #ffffffda,
    1603px 196px #ffffffda, 905px 648px #ffffffda, 68px 1458px #ffffffda, 649px 1969px #ffffffda,
    744px 675px #ffffffda, 1127px 478px #ffffffda, 714px 1814px #ffffffda, 1486px 526px #ffffffda,
    270px 1636px #ffffffda, 1931px 149px #ffffffda, 1807px 378px #ffffffda, 8px 390px #ffffffda,
    1415px 699px #ffffffda, 1473px 1211px #ffffffda, 1590px 141px #ffffffda, 270px 1705px #ffffffda,
    69px 1423px #ffffffda, 1108px 1053px #ffffffda, 1946px 128px #ffffffda, 371px 371px #ffffffda,
    1490px 220px #ffffffda, 357px 1885px #ffffffda, 363px 363px #ffffffda, 1896px 1256px #ffffffda,
    1979px 1050px #ffffffda, 947px 1342px #ffffffda, 1754px 242px #ffffffda, 514px 974px #ffffffda,
    65px 1477px #ffffffda, 1840px 547px #ffffffda, 950px 695px #ffffffda, 459px 1150px #ffffffda,
    1124px 1502px #ffffffda, 481px 940px #ffffffda, 680px 839px #ffffffda, 797px 1169px #ffffffda,
    1977px 1491px #ffffffda, 734px 1724px #ffffffda, 210px 298px #ffffffda, 816px 628px #ffffffda,
    686px 770px #ffffffda, 1721px 267px #ffffffda, 1663px 511px #ffffffda, 1481px 1141px #ffffffda,
    582px 248px #ffffffda, 1308px 953px #ffffffda, 628px 657px #ffffffda, 897px 1535px #ffffffda,
    270px 931px #ffffffda, 791px 467px #ffffffda, 1336px 1732px #ffffffda, 1013px 1653px #ffffffda,
    1911px 956px #ffffffda, 587px 816px #ffffffda, 83px 456px #ffffffda, 930px 1478px #ffffffda,
    1587px 1694px #ffffffda, 614px 1200px #ffffffda, 302px 1782px #ffffffda, 1711px 1432px #ffffffda,
    443px 904px #ffffffda, 1666px 714px #ffffffda, 1588px 1167px #ffffffda, 273px 1075px #ffffffda,
    1679px 461px #ffffffda, 721px 664px #ffffffda, 1202px 10px #ffffffda, 166px 1126px #ffffffda,
    331px 1628px #ffffffda, 430px 1565px #ffffffda, 1585px 509px #ffffffda, 640px 38px #ffffffda,
    822px 837px #ffffffda, 1760px 1664px #ffffffda, 1122px 1458px #ffffffda, 398px 131px #ffffffda,
    689px 285px #ffffffda, 460px 652px #ffffffda, 1627px 365px #ffffffda, 348px 1648px #ffffffda,
    819px 1946px #ffffffda, 981px 1917px #ffffffda, 323px 76px #ffffffda, 979px 684px #ffffffda,
    887px 536px #ffffffda, 1348px 1596px #ffffffda, 1055px 666px #ffffffda, 1402px 1797px #ffffffda,
    1300px 1055px #ffffffda, 937px 238px #ffffffda, 1474px 1815px #ffffffda, 1144px 1710px #ffffffda,
    1629px 1087px #ffffffda, 911px 919px #ffffffda, 771px 819px #ffffffda, 403px 720px #ffffffda,
    163px 736px #ffffffda, 1062px 238px #ffffffda, 1774px 818px #ffffffda, 1874px 1178px #ffffffda,
    1177px 699px #ffffffda, 1244px 1244px #ffffffda, 1371px 58px #ffffffda, 564px 1515px #ffffffda,
    1824px 487px #ffffffda, 929px 702px #ffffffda, 394px 1348px #ffffffda, 1161px 641px #ffffffda,
    219px 1841px #ffffffda, 358px 941px #ffffffda, 140px 1759px #ffffffda, 1019px 1345px #ffffffda,
    274px 436px #ffffffda, 1433px 1605px #ffffffda, 1798px 1426px #ffffffda, 294px 1848px #ffffffda,
    1681px 1877px #ffffffda, 1344px 1824px #ffffffda, 1439px 1632px #ffffffda,
    161px 1012px #ffffffda, 1308px 588px #ffffffda, 1789px 582px #ffffffda, 721px 1910px #ffffffda,
    318px 218px #ffffffda, 607px 319px #ffffffda, 495px 535px #ffffffda, 1552px 1575px #ffffffda,
    1562px 67px #ffffffda, 403px 926px #ffffffda, 1096px 1800px #ffffffda, 1814px 1709px #ffffffda,
    1882px 1831px #ffffffda, 533px 46px #ffffffda, 823px 969px #ffffffda, 530px 165px #ffffffda,
    1030px 352px #ffffffda, 1681px 313px #ffffffda, 338px 115px #ffffffda, 1607px 211px #ffffffda,
    1718px 1184px #ffffffda, 1589px 659px #ffffffda, 278px 355px #ffffffda, 464px 1464px #ffffffda,
    1165px 277px #ffffffda, 950px 694px #ffffffda, 1746px 293px #ffffffda, 793px 911px #ffffffda,
    528px 773px #ffffffda, 1883px 1694px #ffffffda, 748px 182px #ffffffda, 1924px 1531px #ffffffda,
    100px 636px #ffffffda, 1473px 1445px #ffffffda, 1264px 1244px #ffffffda, 850px 1377px #ffffffda,
    987px 1976px #ffffffda, 933px 1761px #ffffffda, 922px 1270px #ffffffda, 500px 396px #ffffffda,
    1324px 8px #ffffffda, 1967px 1814px #ffffffda, 1072px 1401px #ffffffda, 961px 37px #ffffffda,
    156px 81px #ffffffda, 1915px 502px #ffffffda, 1076px 1846px #ffffffda, 152px 1669px #ffffffda,
    986px 1529px #ffffffda, 1667px 1137px #ffffffda;
}

#stars3 {
    position: absolute;
    top: -3px;
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px #ffffffda, 760px 1564px #ffffffda, 1487px 999px #ffffffda,
    948px 1828px #ffffffda, 1977px 1001px #ffffffda, 1284px 1963px #ffffffda, 656px 284px #ffffffda,
    1268px 1635px #ffffffda, 1820px 598px #ffffffda, 642px 1900px #ffffffda, 296px 57px #ffffffda,
    921px 1620px #ffffffda, 476px 1858px #ffffffda, 658px 613px #ffffffda, 1171px 1363px #ffffffda,
    1419px 283px #ffffffda, 1037px 731px #ffffffda, 503px 663px #ffffffda, 1562px 463px #ffffffda,
    383px 1197px #ffffffda, 1171px 1233px #ffffffda, 876px 1768px #ffffffda, 856px 1615px #ffffffda,
    1375px 1924px #ffffffda, 1725px 918px #ffffffda, 952px 119px #ffffffda, 768px 1212px #ffffffda,
    992px 1462px #ffffffda, 1929px 717px #ffffffda, 1947px 755px #ffffffda, 1818px 1123px #ffffffda,
    1896px 1672px #ffffffda, 460px 198px #ffffffda, 256px 271px #ffffffda, 752px 544px #ffffffda,
    1222px 1859px #ffffffda, 1851px 443px #ffffffda, 313px 1858px #ffffffda, 709px 446px #ffffffda,
    1546px 697px #ffffffda, 674px 1155px #ffffffda, 1112px 130px #ffffffda, 355px 1790px #ffffffda,
    1496px 974px #ffffffda, 1696px 480px #ffffffda, 1316px 1265px #ffffffda, 1645px 1063px #ffffffda,
    1182px 237px #ffffffda, 427px 1582px #ffffffda, 859px 253px #ffffffda, 458px 939px #ffffffda,
    1517px 1644px #ffffffda, 1943px 60px #ffffffda, 212px 1650px #ffffffda, 966px 1786px #ffffffda,
    473px 712px #ffffffda, 130px 76px #ffffffda, 1417px 1186px #ffffffda, 909px 1580px #ffffffda,
    1913px 762px #ffffffda, 204px 1143px #ffffffda, 1998px 1057px #ffffffda, 1468px 1301px #ffffffda,
    144px 1676px #ffffffda, 21px 1601px #ffffffda, 382px 1362px #ffffffda, 912px 753px #ffffffda,
    1488px 1405px #ffffffda, 802px 156px #ffffffda, 174px 550px #ffffffda, 338px 1366px #ffffffda,
    1197px 774px #ffffffda, 602px 486px #ffffffda, 682px 1877px #ffffffda, 348px 1503px #ffffffda,
    407px 1139px #ffffffda, 950px 1400px #ffffffda, 922px 1139px #ffffffda, 1697px 293px #ffffffda,
    1238px 1281px #ffffffda, 1038px 1197px #ffffffda, 376px 1889px #ffffffda,
    1255px 1680px #ffffffda, 1008px 1316px #ffffffda, 1538px 1447px #ffffffda,
    1186px 874px #ffffffda, 1967px 640px #ffffffda, 1341px 19px #ffffffda, 29px 1732px #ffffffda,
    16px 1650px #ffffffda, 1021px 1075px #ffffffda, 723px 424px #ffffffda, 1175px 41px #ffffffda,
    494px 1957px #ffffffda, 1296px 431px #ffffffda, 175px 1507px #ffffffda, 831px 121px #ffffffda,
    498px 1947px #ffffffda, 617px 880px #ffffffda, 240px 403px #ffffffda;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 99vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #ffffffda, 760px 1564px #ffffffda, 1487px 999px #ffffffda,
    948px 1828px #ffffffda, 1977px 1001px #ffffffda, 1284px 1963px #ffffffda, 656px 284px #ffffffda,
    1268px 1635px #ffffffda, 1820px 598px #ffffffda, 642px 1900px #ffffffda, 296px 57px #ffffffda,
    921px 1620px #ffffffda, 476px 1858px #ffffffda, 658px 613px #ffffffda, 1171px 1363px #ffffffda,
    1419px 283px #ffffffda, 1037px 731px #ffffffda, 503px 663px #ffffffda, 1562px 463px #ffffffda,
    383px 1197px #ffffffda, 1171px 1233px #ffffffda, 876px 1768px #ffffffda, 856px 1615px #ffffffda,
    1375px 1924px #ffffffda, 1725px 918px #ffffffda, 952px 119px #ffffffda, 768px 1212px #ffffffda,
    992px 1462px #ffffffda, 1929px 717px #ffffffda, 1947px 755px #ffffffda, 1818px 1123px #ffffffda,
    1896px 1672px #ffffffda, 460px 198px #ffffffda, 256px 271px #ffffffda, 752px 544px #ffffffda,
    1222px 1859px #ffffffda, 1851px 443px #ffffffda, 313px 1858px #ffffffda, 709px 446px #ffffffda,
    1546px 697px #ffffffda, 674px 1155px #ffffffda, 1112px 130px #ffffffda, 355px 1790px #ffffffda,
    1496px 974px #ffffffda, 1696px 480px #ffffffda, 1316px 1265px #ffffffda, 1645px 1063px #ffffffda,
    1182px 237px #ffffffda, 427px 1582px #ffffffda, 859px 253px #ffffffda, 458px 939px #ffffffda,
    1517px 1644px #ffffffda, 1943px 60px #ffffffda, 212px 1650px #ffffffda, 966px 1786px #ffffffda,
    473px 712px #ffffffda, 130px 76px #ffffffda, 1417px 1186px #ffffffda, 909px 1580px #ffffffda,
    1913px 762px #ffffffda, 204px 1143px #ffffffda, 1998px 1057px #ffffffda, 1468px 1301px #ffffffda,
    144px 1676px #ffffffda, 21px 1601px #ffffffda, 382px 1362px #ffffffda, 912px 753px #ffffffda,
    1488px 1405px #ffffffda, 802px 156px #ffffffda, 174px 550px #ffffffda, 338px 1366px #ffffffda,
    1197px 774px #ffffffda, 602px 486px #ffffffda, 682px 1877px #ffffffda, 348px 1503px #ffffffda,
    407px 1139px #ffffffda, 950px 1400px #ffffffda, 922px 1139px #ffffffda, 1697px 293px #ffffffda,
    1238px 1281px #ffffffda, 1038px 1197px #ffffffda, 376px 1889px #ffffffda,
    1255px 1680px #ffffffda, 1008px 1316px #ffffffda, 1538px 1447px #ffffffda,
    1186px 874px #ffffffda, 1967px 640px #ffffffda, 1341px 19px #ffffffda, 29px 1732px #ffffffda,
    16px 1650px #ffffffda, 1021px 1075px #ffffffda, 723px 424px #ffffffda, 1175px 41px #ffffffda,
    494px 1957px #ffffffda, 1296px 431px #ffffffda, 175px 1507px #ffffffda, 831px 121px #ffffffda,
    498px 1947px #ffffffda, 617px 880px #ffffffda, 240px 403px #ffffffda;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
